<link rel="stylesheet" href="/assets/css/nav-polish.css">
<header class="site-header">
  <div class="container navbar">
    <div class="brand">
      <a href="/">Acius Exio</a>
    </div>

    <nav class="navlinks" aria-label="Primary navigation">
      <a data-navlink="true" href="/about/">about</a>
      <a data-navlink="true" href="/work/">work</a>
      <a data-navlink="true" href="/tools/spica/">spica</a>
      <a data-navlink="true" href="/blog/">writing</a>
      <a data-navlink="true" href="/contact/">contact</a